# ide
.idea
.eclipse
.vscode/

.mypy_cache

# Mac
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytest.ini

# Jupyter Notebook
.ipynb_checkpoints

# virtual environments
.env
.venv
env/
venv/
env3
venv3
ENV/
env.bak/
venv.bak/

nplinker_quickstart/
uploads/